<table class="table table-hover" align="center" >
    <thead>
      <tr >
        <th scope="col">Sr.No</th>
        <th scope="col">Subject</th>
        <th scope="col">Title</th>
        <th scope="col">Attachment</th>
        <th scope="col">Notes</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let lst of notesrecordResponses">
        <td>{{(lst.id)}}</td>
        <td>{{lst.subject}}</td>
        <td>{{lst.title}}</td>
        <td><a target="_blank" href="http://localhost:8050/Resources/Images/{{lst.attachment}}"> <img style="width: 100px;" src="http://localhost:8050/Resources/Images/{{lst.attachment}}" /> </a></td>
        <td>{{lst.notes}}</td>
        <td>{{lst.createdDate}}</td>
      </tr>
    </tbody>
  </table>
