<table class="table table-hover" align="center" >
    <thead>
      <tr >
        <th scope="col">Sr.No</th>
        <th scope="col">Subject</th>
        <th scope="col">Title</th>
        <th scope="col">Attachment</th>
        <th scope="col">Notes</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Python</td>
        <td>Introduction</td>
        <td>none</td>
        <td>Python notes .....</td>
        <td>23/07/2023</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Computer networks</td>
        <td>Introduction</td>
        <td>lecturenote</td>
        <td>Notes.....</td>
        <td>18/7/23</td>
      </tr>
    </tbody>
  </table>
