<div class="row row-cols-1 row-cols-md-3 g-5">
    <div class="col">
        <div class="card " style="max-width: 18rem;">
            <div class="card-header">Current Monthly Balance : </div>
            <div class="card-body ">
              <h5 class="card-title">Balance:</h5>
              <p class="card-text"></p>
            </div>
            <div class="card-footer"><a href= "http://localhost:4200/#/manage-budget/manage-budget">Manage budget</a></div>
          </div>
    </div>
    <div class="col">
        <div class="card" style="max-width: 18rem;">
            <div class="card-header">Upcoming Medical Appointments :</div>
            <div class="card-body ">
              <h5 class="card-title">Follow ups:</h5>
              <p class="card-text"></p>
            </div>
            <div class="card-footer"><a href = "http://localhost:4200/#/health/recordappointment#someAnchor">Manage Appointments</a></div>
          </div>
    </div>
    <div class="col">
        <div class="card" style="max-width: 18rem;">
            <div class="card-header">Upcoming Meetings :</div>
            <div class="card-body ">
              <h5 class="card-title">Meetings :</h5>
              <p class="card-text"></p>
            </div>
            <div class="card-footer"><a href= "http://localhost:4200/#/corporate/recordmeetings#someAnchor">Manage Meetings</a></div>
          </div>
    </div>
  </div>
  <p>widget of reminder and task is to be added</p>