.marleft10
{
    margin-left: 10px !important;
}

input.form-control {
    width: 90% !important;
}

.validationRed{
    color:red;
    height: 10px;
}

.airstrike{
    color:red;
    padding-left: 10px;
    font-size: 25px;
}