<table class="table table-hover" align="center" >
    <thead>
      <tr >
        <th scope="col">Sr.No</th>
        <th scope="col">Given by</th>
        <th scope="col">Title</th>
        <th scope="col">Attachment</th>
        <th scope="col">Comments</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let lst of medicalrecordResponses">
        <td>{{(lst.id)}}</td>
        <td>{{lst.givenBy}}</td>
        <td>{{lst.title}}</td>
        <td><a target="_blank" href="http://localhost:8050/Resources/Images/{{lst.fileAttachment}}"> <img style="width: 100px;" src="http://localhost:8050/Resources/Images/{{lst.fileAttachment}}" /> </a></td>
        <td>{{lst.comments}}</td>
        <td>{{lst.createdDate}}</td>
      </tr>
    </tbody>
  </table>
