<table class="table table-hover" align="center" >
    <thead>
      <tr >
        <th scope="col">Sr.No</th>
        <th scope="col">Given by</th>
        <th scope="col">Title</th>
        <th scope="col">Attachment</th>
        <th scope="col">Comments</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Abc Hospital</td>
        <td>Blood test</td>
        <td>blood repost</td>
        <td>everything normal</td>
        <td>23/07/2023</td>
      </tr>
    </tbody>
  </table>
