<table class="table table-hover" align="center" >
    <thead>
      <tr >
        <th scope="col">Sr.No</th>
        <th scope="col">Medicine Name</th>
        <th scope="col">Medicine Mg</th>
        <th scope="col">From Date</th>
        <th scope="col">To Date</th>
        <th scope="col">Scheduled Time</th>
        <th scope="col">Medicine Dose(Repeated)</th>
        <th scope="col">Medicine Duration(in days)</th>
        <th scope="col">Medical Reaction</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let lst of medicinerecordResponses">
        <td>{{(lst.id)}}</td>
        <td>{{lst.medicineName}}</td>
        <td>{{lst.medicineMg}}</td>
        <td>16/6/23</td>
        <td>19/6/23</td>
        <td>{{lst.scheduleTime}}</td>
        <td>{{lst.medicineDose}}</td>
        <td>{{lst.medicineDuration}}</td>
        <td>{{lst.medicineReaction}}</td>
      </tr>
    </tbody>
  </table>
