<form cForm [formGroup]="meetingForm" (ngSubmit)="onSubmit()" autocomplete="off">
<div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <label for="Inputmeetingwith" >Meeting with:</label>
        <input type="text" formControlName="MeetingWith" class="form-control" id="Inputmeetingwith:" aria-describedby="form-text" placeholder="Enter meeting with">
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group">
        <label for="Inputmeetingtime">Meeting time :</label><br>
        <input type="datetime-local" id="Inputmeetingtime" name="meetingtime" formControlName="MeetingTime"> 
    </div>
</div></div><br><br>
<div class="row">
    <div class="col-lg-6">
        <div class="form-group">
            <label for="Inputmeetingat" >Meeting Place:</label>
            <input type="text" formControlName="MeetingPlace" class="form-control" id="Inputmeetingplace:" aria-describedby="form-text" placeholder="Enter meeting place">
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group">
          <label for="Inputmeetinglink">Meeting link(if present) :</label>
          <input type="text" formControlName="Link" class="form-control" id="Inputmeetinglink:" aria-describedby="form-text" placeholder="Enter meeting link">
      </div></div>
</div><br><br>
<div class="row">
    <div class="col-lg-6">
        <label for="Inputmeetingnotes">Meeting notes:</label>
        <div class="form-floating">
            <textarea class="form-control" formControlName="Notes" placeholder="Meeting notes :" id="floatingTextarea2" style="height: 100px"></textarea>
        </div>
    </div>
    <div class="col-lg-6">
        <label for="Inputmeetingattachment">Upload attachments(in pdf/jpeg etc format):</label>
        <div class="mb-3">
            <input class="form-control" formControlName="Attachment" type="file" id="formFileMultiple" multiple>
        </div>
    </div>
</div>
<div class="row">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary" type="submit" id="submitbtn" [disabled]="!meetingForm.valid">SUBMIT</button>
    </div>
</div>
</form>