<div>
    <button class="btn btn-primary" type="button" (click) = "onAddRecord()" style="float: right;" >Add record</button>    
</div>

<div style="padding-top: 50px;"> 

    
    <p-table  #dt1 
             [value]="appointmentResponses"   
             [tableStyle]="{'min-width': '60rem'}"   
             dataKey="id"
             [rows]="10"
             [showCurrentPageReport]="true"
             [rowsPerPageOptions]="[10, 25, 50]" 
             [paginator]="true"
             currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
             [globalFilterFields]="['appointmentAt', 'appointmentNotes']"> 
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="appointmentAt" style="width:20%">Appointment At <p-sortIcon field="appointmentAt"></p-sortIcon></th>
                <th pSortableColumn="appointmentTime" style="width:20%">Appointment Time <p-sortIcon field="appointmentTime"></p-sortIcon></th>
                <th pSortableColumn="appointmentNotes" style="width:20%">Appointment Notes <p-sortIcon field="appointmentNotes"></p-sortIcon></th>
                <th>Image</th> 
                <th colspan="2" style=" width: 150px; font-weight: 800;">Action</th> 
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-appointmentResponses>
            <tr>
                <td>{{appointmentResponses.appointmentAt}}</td>
                <td>{{appointmentResponses.appointmentTime}}</td>
                <td>{{appointmentResponses.appointmentNotes}}</td> 
                <td><a target="_blank" href="http://localhost:8050/Resources/Images/{{appointmentResponses.appointmentAttachment}}"> <img style="width: 100px;" src="http://localhost:8050/Resources/Images/{{appointmentResponses.appointmentAttachment}}" /> </a></td>
                <td>
                    <button class="btn btn-warning" (click) = "onUpdate(appointmentResponses)">Edit</button>
                    <button class="btn btn-danger padleft10" (click) = "onDelete(appointmentResponses)">Delete</button>
                </td> 
            </tr>
        </ng-template>
    </p-table>

  </div>