<div class="table-responsive-xxl">
<table class="table table-hover table-info">
    <thead class="table-dark">
      <tr>
        <th scope="col">SR.NO</th>
        <th scope="col">AGE</th>
        <th scope="col">VACCINE DOSE(for childern)</th>
        <th scope="col">VACCINE GIVEN ON </th>
        <th scope="col">VACCINE DUE ON </th>
        <th scope="col">VACCINE STATUS </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td rowspan="3">1</td>
        <td rowspan="3">AT BIRTH (FIRST MEETING WITH YOUR DOCTOR)</td>
        <td>BCG</td>
        <td rowspan="3"><input type="datetime-local" id="Inputgiventime" name="giventime"></td>
        <td rowspan="3"><input type="datetime-local" id="Inputgiventime" name="giventime"></td>
        <td rowspan="3">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">Taken</label><br>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">Not Taken</label><br>
              </div>
        </td>
      </tr>
      <tr>
        <td>OPV(1)</td>
      </tr>
      <tr>
        <td>Hep.B(1)</td>
      </tr>
      <tr>
        <td rowspan="6">2</td>
        <td rowspan="6">6-8 WEEKS</td>
        <td >DTAP/DTP(1)</td>
        <td rowspan="6"><input type="datetime-local" id="Inputgiventime" name="giventime"></td>
        <td rowspan="6"><input type="datetime-local" id="Inputgiventime" name="giventime"></td>
        <td rowspan="6">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">Taken</label><br>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">Not Taken</label><br>
              </div>
        </td>
      </tr>
      <tr>
        <td>IPV/OPV(2)</td>
      </tr>
      <tr>
        <td>HibV(1)</td>
      </tr>
      <tr>
        <td>Hep.B(2)</td>
      </tr>
      <tr>
        <td>PCV(1)(Pneumonia)</td>
      </tr>
      <tr>
        <td>Rota Viral Vaccine</td>
      </tr>
      <tr>
        <td rowspan="6">3</td>
        <td rowspan="6">10-12 WEEKS</td>
        <td >DTAP/DTP(2)</td>
        <td rowspan="6"><input type="datetime-local" id="Inputgiventime" name="giventime"></td>
        <td rowspan="6"><input type="datetime-local" id="Inputgiventime" name="giventime"></td>
        <td rowspan="6">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">Taken</label><br>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">Not Taken</label><br>
              </div>
        </td>
      </tr>
      <tr>
        <td>IPV/OPV(3)</td>
      </tr>
      <tr>
        <td>HibV(2)</td>
      </tr>
      <tr>
        <td>Hep.B(3)</td>
      </tr>
      <tr>
        <td>PCV(2)(Pneumonia)</td>
      </tr>
      <tr>
        <td>Rota Viral Vaccine</td>
      </tr>
      <tr>
        <td rowspan="5">4</td>
        <td rowspan="5">14-16 WEEKS</td>
        <td>DTAP/DTP(3)</td>
        <td rowspan="5"><input type="datetime-local" id="Inputgiventime" name="giventime"></td>
        <td rowspan="5"><input type="datetime-local" id="Inputgiventime" name="giventime"></td>
        <td rowspan="5">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">Taken</label><br>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">Not Taken</label><br>
              </div>
        </td>
      </tr>
      <tr>
        <td>IPV/OPV(4)</td>
      </tr>
      <tr>
        <td>HibV(3)</td>
      </tr>
      <tr>
        <td>PCV(3)(Pneumonia)</td>
      </tr>
      <tr>
        <td>Rota Viral Vaccine</td>
      </tr>
      <tr>
        <td rowspan="2">5</td>
        <td rowspan="2">6 MONTHS</td>
        <td>IPV/OPV(5)</td>
        <td rowspan="2"><input type="datetime-local" id="Inputgiventime" name="giventime"></td>
        <td rowspan="2"><input type="datetime-local" id="Inputgiventime" name="giventime"></td>
        <td rowspan="2">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">Taken</label><br>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">Not Taken</label><br>
              </div>
        </td>
      </tr>
      <tr>
        <td>Hb(3)</td>
      </tr>
      <tr>
        <td>6</td>
        <td>9 MONTHS</td>
        <td>MEASLES/MMR</td>
        <td><input type="datetime-local" id="Inputgiventime" name="giventime"></td>
        <td><input type="datetime-local" id="Inputgiventime" name="giventime"></td>
        <td>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">Taken</label><br>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">Not Taken</label><br>
              </div>
        </td>
      </tr>
      <tr>
        <td>7</td>
        <td>10 MONTHS</td>
        <td>TYPHOID CONJ.</td>
        <td><input type="datetime-local" id="Inputgiventime" name="giventime"></td>
        <td><input type="datetime-local" id="Inputgiventime" name="giventime"></td>
        <td>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">Taken</label><br>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">Not Taken</label><br>
              </div>
        </td>
      </tr>
      <tr>
        <td>8</td>
        <td>12 MONTHS</td>
        <td>HEP.A</td>
        <td><input type="datetime-local" id="Inputgiventime" name="giventime"></td>
        <td><input type="datetime-local" id="Inputgiventime" name="giventime"></td>
        <td>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">Taken</label><br>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">Not Taken</label><br>
              </div>
        </td>
      </tr>
      <tr>
        <td rowspan="2">9</td>
        <td rowspan="2">15 MONTHS</td>
        <td>MMR</td>
        <td rowspan="2"><input type="datetime-local" id="Inputgiventime" name="giventime"></td>
        <td rowspan="2"><input type="datetime-local" id="Inputgiventime" name="giventime"></td>
        <td rowspan="2">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">Taken</label><br>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">Not Taken</label><br>
              </div>
        </td>
      </tr>
      <tr>
        <td>CHICKENPOX</td>
      </tr>
      <tr>
        <td rowspan="6">10</td>
        <td rowspan="6">18 MONTHS</td>
        <td>DTAP/DTP(B1)</td>
        <td  rowspan="6"><input type="datetime-local" id="Inputgiventime" name="giventime"></td>
        <td  rowspan="6"><input type="datetime-local" id="Inputgiventime" name="giventime"></td>
        <td  rowspan="6">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">Taken</label><br>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">Not Taken</label><br>
              </div>
        </td>
      </tr>
      <tr>
        <td>IPV/OPV(B1)</td>
      </tr>
      <tr>
        <td>HibV(B)</td>
      </tr>
      <tr>
        <td>Hep.A(2)</td>
      </tr>
      <tr>
        <td>PCV(B)(Pneumonia)</td>
      </tr>
      <tr>
        <td>CHICKENPOX</td>
      </tr>
      <tr>
        <td rowspan="2">11</td>
        <td rowspan="2">2 YEARS</td>
        <td>TYPHOID</td>
        <td rowspan="2"><input type="datetime-local" id="Inputgiventime" name="giventime"></td>
        <td rowspan="2"><input type="datetime-local" id="Inputgiventime" name="giventime"></td>
        <td rowspan="2">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">Taken</label><br>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">Not Taken</label><br>
              </div>
        </td>
      </tr>
      <tr>
        <td>MENINGOCOCCAL</td>
      </tr>
      <tr>
        <td rowspan="6">12</td>
        <td rowspan="6">4<sup>1/2</sup> TO 6 YEARS</td>
        <td>DTAP/DTP(B2)</td>
        <td rowspan="6"><input type="datetime-local" id="Inputgiventime" name="giventime"></td>
        <td rowspan="6"><input type="datetime-local" id="Inputgiventime" name="giventime"></td>
        <td rowspan="6">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">Taken</label><br>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">Not Taken</label><br>
              </div>
        </td>
      </tr>
      <tr>
        <td>IPV/OPV(B2)</td>
      </tr>
      <tr>
        <td>MMR(B)</td>
      </tr>
      <tr>
        <td>HEP.B(B)</td>
      </tr>
      <tr>
        <td>TYPHOID(B)</td>
      </tr>
      <tr>
        <td>CHICKENPOX</td>
      </tr>
      <tr>
        <td>13</td>
        <td>8 YEARS</td>
        <td>TYPHOID(B)</td>
        <td><input type="datetime-local" id="Inputgiventime" name="giventime"></td>
        <td><input type="datetime-local" id="Inputgiventime" name="giventime"></td>
        <td>
          <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
              <label class="form-check-label" for="inlineRadio1">Taken</label><br>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
              <label class="form-check-label" for="inlineRadio2">Not Taken</label><br>
            </div>
      </td>
      </tr>
      <tr>
        <td>14</td>
        <td>10 YEARS</td>
        <td>CERVICAL CANCER <b>(FEMALE)</b></td>
        <td><input type="datetime-local" id="Inputgiventime" name="giventime"></td>
        <td><input type="datetime-local" id="Inputgiventime" name="giventime"></td>
        <td>
          <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
              <label class="form-check-label" for="inlineRadio1">Taken</label><br>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
              <label class="form-check-label" for="inlineRadio2">Not Taken</label><br>
            </div>
      </td>
      </tr>
      <tr>
        <td>15</td>
        <td>11 YEARS</td>
        <td>TYPHOID</td>
        <td><input type="datetime-local" id="Inputgiventime" name="giventime"></td>
        <td><input type="datetime-local" id="Inputgiventime" name="giventime"></td>
        <td>
          <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
              <label class="form-check-label" for="inlineRadio1">Taken</label><br>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
              <label class="form-check-label" for="inlineRadio2">Not Taken</label><br>
            </div>
        </td>
      </tr>
      <tr>
        <td>16</td>
        <td>15 YEARS</td>
        <td>TT</td>
        <td><input type="datetime-local" id="Inputgiventime" name="giventime"></td>
        <td><input type="datetime-local" id="Inputgiventime" name="giventime"></td>
        <td>
          <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
              <label class="form-check-label" for="inlineRadio1">Taken</label><br>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
              <label class="form-check-label" for="inlineRadio2">Not Taken</label><br>
            </div>
        </td>
      </tr>
      <tr>
        <td>17</td>
        <td>EVERY YEAR</td>
        <td>FLU VACCINE</td>
        <td><input type="datetime-local" id="Inputgiventime" name="giventime"></td>
        <td><input type="datetime-local" id="Inputgiventime" name="giventime"></td>
        <td>
          <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
              <label class="form-check-label" for="inlineRadio1">Taken</label><br>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
              <label class="form-check-label" for="inlineRadio2">Not Taken</label><br>
            </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="row">
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn btn-primary me-md-2" type="button">SUBMIT</button>
    <button class="btn btn-danger" type="button">RESET</button>
  </div>
</div>