<br>
<div class="row align-items-start">
    <div class="col">
      <div class="form-group">
        <label for="Inputsubject" >Subject:</label>
        <input type="text" class="form-control" id="Inputsubject:" aria-describedby="form-text" placeholder="Enter subject">
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="Inputtitle">Title:</label><br>
        <input type="text" class="form-control" id="Inputtitle:" aria-describedby="form-text" placeholder="Enter Title">
    </div></div>
    <div class="col">
            <label for="Inputmeetingattachment">Upload attachments(in pdf/jpeg etc format):</label>
            <div class="mb-3">
                <input class="form-control" type="file" id="formFileMultiple" multiple>
            </div>
    </div>
</div><br><br>

<div class="row">
        <label for="Inputnotes">Enter notes:</label>
        <div class="form-floating">
            <textarea class="form-control" placeholder="notes :" id="floatingTextarea2" style="height: 100px"></textarea>
        </div>
</div><br>
<div class="row">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary" type="button">SUBMIT</button>
        <a href="http://localhost:4200/#/education/pastnotes#someAnchor"><button class="btn btn-warning" type="button">PAST NOTES</button></a>
    </div>
</div>